{% extends 'FaceAnalysisApp/base.html' %}
{%block title%}Analysis{%endblock%}
{% load static %}
{% block css%}   
	<link href="{% static 'analysis/css/analysis.css'%}" rel="stylesheet">
  <link href="{% static 'analysis/css/header.css'%}" rel="stylesheet">
  <link href="{% static 'analysis/css/img_display.css'%}" rel="stylesheet">
  <script type="text/javascript" src="{% static 'analysis/js/analysis.js'%}"></script>

   <style>
    a {
    text-decoration: none;
    background-color: transparent;
}
body {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}
  </style>
{% endblock %}
{%block auth%}

          <li class="nav-item study">
<!--          <a class="nav-link" href="">Camera Display</a>-->
        </li>
{%endblock%}

{%block body%}
<br>




<div class="cam">
      <div class="heading-train">
        <p>
          <p>Name: {{person_id}} and ID: {{person_id}}

          <hr style="color: #ffffff">
          <p>
               Add more Photos
          </p>
          <hr style="color: #ffffff">
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" value="jh">
                <input type="file" multiple name="images">
                <button type="submit">Upload</button>
              </form>  
            <br>
            <p>
               OR
            </p>
              <form method="get" action="{% url 'analysis:create-dataset' person_id=person_id %}">
                  <select class="custom-select" style="color: #00004d; width:200px;" name="camera_id" >
                      <option style="color: black" value="0" selected="selected" hidden>Webcam</option>
                      {% for camera in cameras %}
                      <option value="{{camera.id}}">{{camera}}</option>
                      {% endfor %}
                  </select>
                  
                  <button>Capture</button>
              </form>

          </p>
      </div>
       <div class="heading-train">
        <p>
          <br>
          
        </p>
        <p>
          <br>

        </p>
      </div>

    <br>
</div>

<div class="more-photos">
  {% for image in images %}
  <div class="image-box">
    <img src="/media/{{image.image}}" class="img-fluid">
    <a href="{% url 'analysis:delete-image' id=image.id %}" class="remove-image">Remove Image</a>
  </div>
  {% empty %}
  <br>
  <p>
    <br>
  </p>
  <div class="cam">
  <div class="heading-train">
        <p>
          Add more photos <br class="train-button" >
        </p>
      </div>
  </div>
  {% endfor %}
</div>

<!-- {% for image in images %}
<div>
    <img width="200" height="200" src="/media/{{image.image}}">
    <a href="{% url 'analysis:delete-image' id=image.id %}">delete</a>
</div>
{% empty %}
  Add more images
{% endfor %}
 -->
<!-- <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="hidden" value="jh">
    <input type="file" multiple name="images">
    <button type="submit">Upload</button>
</form>
<form method="get" action="{% url 'analysis:create-dataset' person_id=person_id %}">
    <select style="color: black" name="camera_id">
        <option style="color: black" value="0" selected="selected" hidden>Webcam</option>
        {% for camera in cameras %}
        <option value="{{camera.id}}">{{camera}}</option>
        {% endfor %}
    </select>
    <button>Capture</button>
</form> -->
<!--<a href="{% url 'analysis:create-dataset' person_id=person_id %}">Capture</a>-->
{%endblock%}


<script type="text/javascript">
  

var x, i, j, l, ll, selElmnt, a, b, c;
/* Look for any elements with the class "custom-select": */
x = document.getElementsByClassName("custom-select");
l = x.length;
for (i = 0; i < l; i++) {
  selElmnt = x[i].getElementsByTagName("select")[0];
  ll = selElmnt.length;
  /* For each element, create a new DIV that will act as the selected item: */
  a = document.createElement("DIV");
  a.setAttribute("class", "select-selected");
  a.innerHTML = selElmnt.options[selElmnt.selectedIndex].innerHTML;
  x[i].appendChild(a);
  /* For each element, create a new DIV that will contain the option list: */
  b = document.createElement("DIV");
  b.setAttribute("class", "select-items select-hide");
  for (j = 1; j < ll; j++) {
    /* For each option in the original select element,
    create a new DIV that will act as an option item: */
    c = document.createElement("DIV");
    c.innerHTML = selElmnt.options[j].innerHTML;
    c.addEventListener("click", function(e) {
        /* When an item is clicked, update the original select box,
        and the selected item: */
        var y, i, k, s, h, sl, yl;
        s = this.parentNode.parentNode.getElementsByTagName("select")[0];
        sl = s.length;
        h = this.parentNode.previousSibling;
        for (i = 0; i < sl; i++) {
          if (s.options[i].innerHTML == this.innerHTML) {
            s.selectedIndex = i;
            h.innerHTML = this.innerHTML;
            y = this.parentNode.getElementsByClassName("same-as-selected");
            yl = y.length;
            for (k = 0; k < yl; k++) {
              y[k].removeAttribute("class");
            }
            this.setAttribute("class", "same-as-selected");
            break;
          }
        }
        h.click();
    });
    b.appendChild(c);
  }
  x[i].appendChild(b);
  a.addEventListener("click", function(e) {
    /* When the select box is clicked, close any other select boxes,
    and open/close the current select box: */
    e.stopPropagation();
    closeAllSelect(this);
    this.nextSibling.classList.toggle("select-hide");
    this.classList.toggle("select-arrow-active");
  });
}

function closeAllSelect(elmnt) {
  /* A function that will close all select boxes in the document,
  except the current select box: */
  var x, y, i, xl, yl, arrNo = [];
  x = document.getElementsByClassName("select-items");
  y = document.getElementsByClassName("select-selected");
  xl = x.length;
  yl = y.length;
  for (i = 0; i < yl; i++) {
    if (elmnt == y[i]) {
      arrNo.push(i)
    } else {
      y[i].classList.remove("select-arrow-active");
    }
  }
  for (i = 0; i < xl; i++) {
    if (arrNo.indexOf(i)) {
      x[i].classList.add("select-hide");
    }
  }
}

/* If the user clicks anywhere outside the select box,
then close all select boxes: */
document.addEventListener("click", closeAllSelect); 
</script>