body{
  overflow-x:hidden;
  font-family: 'Raleway', sans-serif;
  background-color:rgba(138, 149, 158, 10%);
}

.all-cameras{
	margin-top:20px;
}

.image-box img{
	width:500px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	display:block;
	padding:10px;
	box-shadow:0px 0px 20px rgba(138, 149, 158, 60%);
}

.my-camera{
	margin-bottom:5px;
}


.select-cam{
	position:relative;
	top:-40px;
	text-align:center;
	color:white;
	font-weight:bold;
}

select{
	background-color:transparent;
	color:white;

}

option{
	background-color:white;
	color:black;
}


.text-camera{
	text-align: center;
	font-size:20px;
	font-weight:bold;
	position:relative;
	top:-20px;
}


.overlay {  
  transition: .3s ease;  
}

.overlay:hover {
  opacity: 0.5;
  background-color: gray;
}

.fa-trash {
  color: white;
  font-size: 100px;
  opacity: 0;
  
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fa-trash:hover{
  opacity: 1;
  font-size: 30px;
}


button {
    border-radius: 0px;
    display: inline-block !important;
    border: 1px solid black !important;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}